{{!-- header code --}}
{{>header}}
{{!-- Navbar Code --}}
{{>navbar}}
<div class="container">
    <h1>Employee Register Form</h1>
    <form action="/register" method="post">
        <div class="form-row">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="firstname">First Name</label>
                    <input type="firstname" class="form-control" id="firstname" name="firstname" placeholder="FirstName">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastname">Last Name</label>
                    <input type="lastname" class="form-control" id="lastname" name="lastname" placeholder="LastName">
                </div>
            </div>
            <div class="row mt-3">
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <div class="form-group mt-3">
                    <label class="radio inline">
                    <input type="radio" name="gender" value="Male" checked>
                    <span>Male</span>
                    </label>
                    <label class="radio inline">
                    <input type="radio" name="gender" value="FeMale" >
                    <span>FeMale</span>
                    </label>
                </div>

            </div>
            <div class="row mt-3">
                <div class="form-group col-md-6">
                    <label for="phone">Phone</label>
                    <input type="phone" class="form-control" id="phone" name="phone" minlength="10" maxlength="10" placeholder="phone">
                </div>
                <div class="form-group col-md-6">
                    <label for="age">Age</label>
                    <input type="age" class="form-control" id="age" name="age" placeholder="Enter Age">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <div class="form-group col-md-6">
                    <label for="password">Re Password</label>
                    <input type="password" class="form-control" id="password" name="confirmpassword" placeholder="Confirm Password">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Register</button>
    </form>
</div>

{{!-- footer code --}}
{{>footer}}